POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mini_app

POSTGRES_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

BOT_TOKEN=
# например: 70278515907:AAEfvgezfggiUDQITui3FkKjn94M0OMLE берется из @BotFather
BOT_USERNAME=
# например: mini_app_bot берется из @BotFather
API_BASE_URL=
# например: https://my.backend.com